.destaque
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: var(--secondary-background);
}

.banner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destaque-titulo
{
    font-family: var(--title-font);
    font-size: 4rem;
    color: var(--title-color);
    line-height: 130%;
}

.destaque-titulo > span
{
    color: var(--accent-color);
}

/* versão tablet */
@media screen and (max-width: 1024px)
{
    .destaque
    {
        max-width: 100%;
        padding: 3rem 6rem;
        text-align: center;
    }

    .destaque-titulo
    {
        font-size: 3rem;
    }

    .banner
    {
        flex-direction: column;
        max-width: 100%;
    }

    .navegacao
    {
        display: none;
    }
}

/* versão celular */
@media screen and (max-width: 768px)
{
    .destaque
    {
        padding: 2rem 1rem;
    }

    .destaque-titulo
    {
        font-size: 2.5rem;        
    }

    .destaque-imagem
    {
        object-fit: contain;
        max-width: 100%;
    }
}