.destaque
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: var(--secondary-background);

    @media (max-width: 1024px)
    {
        padding: 2rem 5rem;
    }
}

.banner
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px)
    {
        flex-direction: column;
        text-align: center;
    }
}

.destaque-titulo
{
    font-family: var(--title-font);
    font-size: 4rem;
    color: var(--title-color);
    line-height: 130%;
}

.destaque-titulo > span
{
    color: var(--accent-color);
}