.servicos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding: 5rem 0;
}

.servicos-titulo
{
    font-family: var(--title-font);
    font-size: 2.43rem;
    color: var(--title-color);
    line-height: 120%;
}

.servicos-lista
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.servicos-lista > li > .link
{
    position: relative;
    background-color: var(--secondary-background);
    text-decoration: none;
    border-radius: 1rem;
    padding: 1.2rem 2rem;
    font-family: var(--title-font);
    font-size: 1.56rem;
    color: var(--title-color);
}

.link::before
{
    content: "";
    position: absolute;
    left: -10px;
    bottom: 50%;
    width: 2.18rem;
    height: 2.18rem;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0);
    transition: transform 0.3s ease, left 0.3s ease; 
}

.banho-e-tosa > .link::before
{
    background-image: url("../assets/icones/banho-e-tosa.png");
}

.hospedagem > .link::before
{
    background-image: url("../assets/icones/hospedagem.png");
}

.veterinario > .link::before
{
    background-image: url("../assets/icones/veterinario.png");
}

.adestramento > .link::before
{
    background-image: url("../assets/icones/adestramento.png");
}

.petsiter > .link::before
{
    background-image: url("../assets/icones/petsiter.png");
}

.servicos-lista > li > .link:hover
{
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
    padding-left: var(1rem);
}

.link:hover::before
{
    transform: scale(1) translatey(50%);
    left: 0.5rem;
}

/* versão tablet */
@media screen and (max-width: 1024px)
{
    .servicos
    {
        padding: 2rem 3rem;
        box-sizing: border-box;               
    }

    .servicos-lista
    {
       justify-content: center;
       row-gap: 4.5rem;
    }
}

/* versão celular */
@media screen and (max-width: 768px)
{
    .servicos
    {
        text-align: center;        
    }

    .servicos-titulo
    {
        font-size: 2rem;
    }
}