@import url("./css/cabecalho.css");
@import url("./css/destaque.css");
@import url("./css/servicos.css");
@import url("./css/planos.css");
@import url("./css/ofertas.css");

:root
{
    /* cores */
    --main-background: #FFFFFF;
    --secondary-background: #FFF5EB;
    --text-color: #444444;    
    --input-text-color: #B9B9B9;
    --title-color: #EE6451;
    --accent-color: #A2B72B;

    /* fontes */
    --text-font: "Poppins", sans-serif;
    --title-font: "Sigmar", sans-serif;    
}

.projeto
{
    font-family: var(--text-font);
    color: var(--text-color);
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--main-background);
    line-height: 120%;    
}

.container
{
    width: 75rem;
}
